ignore/**
images/*.html
notebooks/.ipynb_checkpoints/**
images/nyc-measles-cases-by-age-bar-chart-py.png
images/nyc-measles-cases-by-vaccination-status-bar-chart-py.png
images/nyc-new-measles-cases-by-month-bar-chart-py.png
pydata-nyc-2019/notebooks/.ipynb_checkpoints/**
